/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    color: #333;
    background: #fafafa;
}
.container
{
    width: 460px;
    margin: auto;
}

.header
{
    width: 400px;
    padding: 10px 30px;
}

.board
{
    width: 400px;
    height: 400px;
    padding: 30px;

    background: #ddd;
}

.row
{
    height: 100px;
}

.box
{
    float: left;
    width: 100px;
    height: 100px;
    font-size: 120px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}
.box:hover
{
    background: #d1d16f;
}

.r1
{
    height: 140px;
    border-top: 20px solid #222;
    border-bottom: 20px solid #222;
}

.c1
{
    width: 140px;
    border-right: 20px solid #222;
    border-left: 20px solid #222;
}
